node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.vitepress/cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?